*{
    padding: 0px;
    margin: 0px;
}
.mao-contain{
    width: 1000px;
    height: auto;
    position: relative;
    background: rgba(220,220,220,0.4);
    border-radius: 10px;
    
    overflow: hidden;
}
.headlog{
    margin-top: 50px;
}
.mao-box{
    height: 50px;
    width: 90%;
    margin-left: 5%;
    background: #fff;
    position: relative;
    border-radius: 10px;
}
.mao-title{
    position: absolute;
    left: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 50px;
    color:rgb(0,0,0,0.6);
}
.old{
    position: absolute;
    right: 7rem;
}
.old span{
    color:#bfbfbf;
    font-size: 14px;
    line-height: 50px;
    font-weight: 700px;
}
.am-circle{
    height: 30px;
    width: 30px !important;
    margin-top: 10px;
}
.edit{
    position: absolute;
    right: 3rem;
}
.edit>a{
    display: block;
    height: 50px;
    width: 50px;
    background: url(../img/xiangyou.svg) no-repeat right center;
    background-size: 2.5rem;
}
.ID{
    margin-top: 3rem;
}
.information-box{
    margin-top: 3rem;
}
.signature{
    margin-top: 3rem;
}
.information-box{
    margin-top: 30px;
}
.gender{
    margin-top:2px;
}
.birthday{
    margin-top:2px;
    margin-bottom: 3rem;
}
.password{
    margin-top: 2px;
}
.am-modal-bd{
    margin-top: 2rem;
}
.am-modal-bd{
    padding-bottom: 0px !important;
}
/* .am-modal-bd>span{
    display: block !important;
    width: 100%;
    text-align: center;
    display: block;
    margin: 5px auto 2rem auto;
    border-radius: 0;
    padding: 5px;
    line-height: 1.8rem;
    width: 80%;
} */
.am-modal-bd input{
    margin-bottom: 2rem;
    line-height:44px;
    height:44px;
    padding: 0 2rem 0 2rem;
    background-size: 2rem;
    border-radius: 10px;
    border:1px solid #bfbfbf;
}
.pw{
    
    padding: 0 2rem 0 4rem !important;
    background: url("../img/pw.png") no-repeat left 1rem center;
}
.am-modal-bd textarea{
    height: 80px !important;
    line-height: 30px;
}
.selectBtn{
    border-top: 1px solid #dedede;
    height: 44px;
    overflow: hidden;
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-top: 3rem;
}
#doc-select-1{
    height: 44px;
    width: 80%;
    margin: 0px auto 5px auto;
    
    padding: 0 2rem;
    border-radius: 10px;
    border:1px solid #bfbfbf;
}
#doc-select-1:focus{
    outline: none;
}

.container{
    margin: 5px auto 0 auto;
    border-radius: 0;
    padding: 5px;
    line-height: 1.8rem;
    width: 80% !important;

}
#mydatepicker2{
    margin-bottom: 0px;
}
.container input{
    width: 100%;
    padding: 0 2rem;
    border-radius: 10px;
    border:1px solid #bfbfbf;
}
.container input:focus{
    outline: none;
}
.datepicker{
    width: 100%;
    height: 44px;
}
.newpw1{
    position: relative;
}
.floatTip1{
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 470px;
    width: 150px;
    display: none;
    padding-left: 2.5rem;
    background: url("../img/triangle.png") no-repeat left top;
    background-size: 3rem;
}
.floatTip-wrap{
    position: relative;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 3px rgba(155, 155, 155, 0.3);
    border: solid 1px rgb(0,0,0,0.15);
    border-radius: 2px;
    white-space: normal;
    background-color: #fff;
    text-align: left;
}
.tip{
    color:rgb(0,0,0,0.5);
}
.error{
    display:none;
    width:60%;
    margin:-1rem auto 1rem;
    height:1.5rem;
    line-height:1.5rem;
    color:red;
    text-align: left;
    font-size: 14px;
}

.pic .am-modal-bd{
    margin-top: 0px !important;
}
.d3{
    margin-bottom: 20px;
}